/* General style */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  color: #343434;
  font-weight: 400;
}

h2,
h4 {
  font-family: "Montserrat", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-one {
  background-color: #000;
  color: #fff;
}

.navbar {
  background-color: white;
  box-shadow: 0px 8px 8px #38b54a;
  transition: all 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar .navbar-brand {
  color: var(--main-color) !important ;
  font-size: 14px;
  font-weight: 400;
}

.navbar .navbar-brand {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
}

.navbar .tki {
  color: #38b54a !important ;
}

.navbar a,
.navbar a:active {
  /* transition: 0.3s; */
  letter-spacing: 0.4px;
  position: relative;
  color: #fff;
}

.navbar .nav-item .active {
  color: #fff;
}

.navbar ul li a:before {
  content: "";
  position: absolute;
  top: 95%;
  left: 10px;
  width: 0;
  height: 2px;
  background-color: #222;
  transition: all 0.5s;
  color: #fff;
  opacity: 0;
}

.navbar li:hover > a:before,
.navbar .active:before,
.navbar .nav-item a {
  opacity: 1;
  width: 80%;
  color: #222;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

/* style home-content */
#home-content {
  background-color: rgb(210 211 215);
  padding-top: 60px;
  height: 900px;
}

#home-content p {
  font-size: 17px;
}

#home-content .li-content {
  color: #38b54a;
}
/* section home-number */
#home-number {
  padding-top: 90px;
  padding-bottom: 90px;
}

#home-number h3,
#home-number h5 {
  color: #38b54a;
}

/* section info */

#info {
  background-color: #000000ca;
  color: #fff;
}

/* start footer */

#footer {
  text-align: center;
  color: #1c1c1c;
  background-color: #fff;
  padding: 30px;
}

#footer p {
  font-size: 13px;
  word-spacing: 1px;
  letter-spacing: 0.8px;
  line-height: 1.6;
  margin: 0;
}

#footer .credits {
  cursor: pointer;
}

#footer .credits span {
  color: #38b54a;
}
